/* This website uses the Bootstrap framework version 4.5.0 */

/************************* 
*** Genaral 
**************************/

 /* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


html {
    scroll-behavior: smooth; /* maakes the website srcoll smoothly*/
}

.main-row {
    align-items: center;
    padding: 100px;
}

/*************************
*** Navbar
**************************/

.navbar {
    padding: 15px;
}

.navbar-brand {
    padding: 0px 10px 0px 10px; 
    font-family: 'Yellowtail', cursive;
    font-size: 25px;
}

.nav-item {
    padding: 0px 20px 0px 20px;
}

/* replaces the bootstrap dropdown icon with a custom dropdown icon when in mobile view */

.burger {
    display: none; /* Hides the burger dropdown icon in desktop view*/
}
 
.burger div {
    height: 3px;
    width: 25px;
    background-color: rgb(238, 238, 238);
    margin: 5px;
    transition: all 0.3s ease;
} 


/* removes the ugly border of the dropdown icon in the bootdtrap nav bar */

.navbar-no-border {
    border: none; 
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.0);
}    

.nav-shadow {
    box-shadow: rgba(0, 0, 0, 0.143) 0px 10px 20px;
}

/*************************
*** Landing Page
**************************/

.landing-page {
    padding: 200px 0px 100px 0px;
}

.jumbotron {
    background: none;
    text-align: center;
}

.jumbotron h1 , .jumbotron .lead {
    font-size: 70px;
    font-family: 'Yellowtail', cursive;
}

.jumbotron .lead {
    font-size: 30px;
}

.img-column {
    text-align: center;
}

.life-span {
    font-size: 30px;
}



/***********************
*** About section
************************/


.about h1 {
    padding: 50px 0px 50px 0px ;
}

.about-text {
    text-align: justify;
}

/*********************** 
*** Work
************************/

.work {
    display: flex; 
    flex-wrap: wrap;
}

/* aligns the images to a nice grid*/

.img-col {
    flex: 25%; 
    max-width: 50%;
    padding: 0 10px;
}

.img-col img{
    margin-top: 20px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
    transition: scale 0.2s ease-in;
}

/* image hover animation */

.img-col img:hover {
    scale: 102%;
    box-shadow: rgba(0, 0, 0, 0.177) 0px 0px 20px;
}

.work-sub-heading {
    padding: 100px 0px 50px 0px;
}


.quote-box {
    text-align: center;
    padding: 300px 150px 150px 150px;
   }
   
/************************ 
*** Mbile responsive
*************************/

@media screen and (max-width:1000px) {


    /* shows the dropdown menu icon in mobile view */

    .burger {
        display: block;
        cursor: pointer;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px,6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px,-6px);
    }

    .quote-box {
        padding: 100px 100px 100px 100px;
    }

}

@media screen and (max-width: 600px) {

    
    .img-col {
        flex: 100%;
        max-width: 100%;
    }

    .main-row {
        padding: 100px 20px 100px 20px;
    }

    .quote-box {
        padding: 300px 60px 100px 60px;
    }
}
